<div id="container">
  <nav class="navBar">
    <ul>
      <li>
        <a href="#/character_list">Character List</a>
      </li>
      <li>
        <a class="selected" href="#/character_sheet">Character Sheet</a>
      </li>
    </ul>
  </nav>
  <form id="csForm" ng-submit="submit()" ng-controller="csFormCtrl">

    <h3>
      Name:
      <input type="text" name="Name" ng-model="name">
    </h3>
    <h3>
      Race:
      <select ng-model="selectedRace" ng-options="race for race in races"></select>
    </h3>
    <h3>
      Class:
      <select ng-model="selectedClass" ng-options="class for class in classes"></select>
    </h3>

    <input type="submit" name="submit" value="Submit">
  </form>
</div>